<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "0.0.3">

	<name>Agenda Oberta</name>

	<description>
		L'agenda d'activitats dels països catalans
	</description>

	<author href="http://danieljulia.github.com"
		email="dani@pimpampum.net">
		Daniel Julià
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<access origin="http://oberta.cat" subdomains="true" />
	<access origin="http://www.oberta.cat" subdomains="true" />
	<access origin="*" />
	
	<gap:plugin name="share"/>
	
	
	<preference name="stay-in-webview" value="true" />
</widget>
